<section>
  <p>Here are all of your tasks:</p>
  <ul>
    <% @todo.each() do |todo| %>
      <li><%= todo.description() %></li>
    <% end %>
  </ul>
</section>

<section>
  <form action="/todo" method="post">
    <label for="description">Add a new to-do item:</label>
    <input id="description" name="description" type="text">
    <button type="submit">Add to-do</button>
  </form>
</section>
